
body {
	background: black;
}

#main_container {
	width: 300px;
	margin: 60px auto;
	display: grid;
	grid: 150px repeat(4, 80px) / repeat(4, .875fr) 1.5fr;
	grid-template-areas: 
		"screen screen screen screen screen"
		"seven eigth nine divide equal"
		"four five six multiply equal"
		"one two three substract equal"
		"zero point clear add equal";
	background: #1d1c1c;
	color: whitesmoke;
	font-family: 'Sarabun', sans-serif;
	font-size: 1.2em;
	box-shadow: 0px 0px 20px 1px #174440;
}

div{
	vertical-align: middle;
	text-align: center;
}

#screen {
	grid-area: screen;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#clear {
	grid-area: clear;
}

#zero {
	grid-area: zero;
}

#one {
	grid-area: one;
}

#two {
	grid-area: two;
}

#three {
	grid-area: three;
}

#four {
	grid-area: four;
}

#five {
	grid-area: five;
}

#six {
	grid-area: six;
}

#seven {
	grid-area: seven;
}

#eight {
	grid-area: eigth;
}

#nine {
	grid-area: nine;
}

#add {
	grid-area: add;
}

#substract {
	grid-area: substract;
}

#multiply {
	grid-area: multiply;
}

#divide {
	grid-area: divide;
}

#equal {
	grid-area: equal;
}

#point {
	grid-area: point;
}

.buttons {
	border-radius: 2px;
	background: #262626;!
}

.buttons:hover {
	transition: background 0.5s;
	background: #03A9F4;
}

.pressButton{
	transition: background 0.2s;
	background: #03A9F4;
}

button {
	color: whitesmoke;
	border: none;
	font-family: 'Sarabun', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

button:focus{
	outline: none;
}

#equal:hover{
	transition: background 0.5s;
	background: green;
}

.pressEqual{
	transition: background 0.2s;
	background: green;
}

#clear:hover{
	transition: background 0.5s;
	background: #6b2424;
}

.pressClear{
	transition: background 0.2s;
	background: #6b2424;
}

p {
	margin: 0;
}

#screen div{
	padding-right: 10%;
	text-align: right;	
}

#op{
	letter-spacing: 4px;
	padding-top: 10%;	
}

#res{
	height: 20%;
	border-top: solid 1px #4CAF50;
    background: #253125;
	padding-bottom: 6%;
}